// Place all the styles related to the api/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single-answer-box {
    border-top: 1px solid salmon;
    border-bottom: 1px solid salmon;
    padding: 20px 0 20px 15px;
    width: 97%;
    margin: 15px 0 15px 0;
    
}

.snb-top {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.snb-top > i {
    font-size: 25px;
    padding: 0 10px 8px 0;
}

.answer-btn { 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 30%;
    border: none;
    color: white;
    background: lightcoral;   
}

.single-answer-box > .right {
    float: right;
}

.a-author-name {
    padding-top: 7px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: 700;
}

.a-date {
    padding-top: 9px;
    font-size: 11px;
}