// Place all the styles related to the api/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-index-box {
    // width: 60%;
    // margin-left: 20%;
    // border: 1px solid black;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 8%; 
    color: white;
}
.single-answer-box {
    // border: 1px solid #724EE2;
    // border-top: 1px solid #724EE2;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    height: auto;
    padding: 20px 0;
}

.single-answer-container {
    margin-left: 10%;
    margin-right: 10%;
}

.snb-top {
    // border: black 2px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
 
.snb-top-left {
    // border: black 2px solid;
    display: flex;
    flex-direction: row;
}

.snb-top-left > .fa {
    // border: 1px solid black;
    padding: 5px 5px 5px 0;
    font-size: 30px;
}

.answer-name-time {
    padding: 7px 0 5px 0;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
}

.a-date {
    padding-top: 5px;
    font-size: 11px;
    font-weight: 100;
}

.snb-top-right > * {
    margin-left: 5px;
    // border: black 2px solid;
}

 
.single-answer-box > .right > * {
    // border: black 2px solid;
    margin-left: 8px;
}

.answer-edit-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.edit-answer-btn {
    // border: 1px solid black;
    margin-top: 20px;
    margin-left: 35%;
    width: 30%;
    height: 30px;
    border-radius: 8px;
    border: none;
    
}
.snb-top-right > i {
    font-size: 18px;
    padding: 0 10px 8px 0;
    // border: red 1px solid;
}

.answer-btn { 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 30%;
    border: none;
    color: white;
    background: #724EE2;   
}

.single-answer-box > .right {
    float: right;
}


.answer-detail-box > img{
    max-width: 300px;
    max-height: 300px;
    display: block; 
}



.edit-hidden {
    display: none;
}

.not-hidden-answer {
    display: none;
}


.answer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-form-bottom {
    margin-top: 20px;
}
