// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-form {
    display: flex;
    justify-content: space-between;
    // border: 1px black solid;
    padding: 10px;
}

#comment-box {
    width: 70%;
    border-radius: 12px;
    border: 0.3px lightgray solid;
}

.comment-button {
    width: 20%;
    border-radius: 12px;
    border: 0.3px lightgray solid;
;

}