.topic-list {
    margin: 90px 25px 0 100px;
    display: felx;   
    color: grey;
}

.topic-list > li {
    border: 1px solid lightgray;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 7px 0 7px 5px;
    font-size: 14px;
    width: 100px;
    transition-duration: 0.1s;
}

.topic-list > li:hover {
    background-color: lightgrey;
    color: white;
}

.main-right {
    margin-left: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}