.topic-list {
    // margin: 90px 25px 0 100px;
    //display: felx;   
    color: white;
    font-weight: 530;
    margin-left: 30%;
    
    
}

.topic-list > li {
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 18px 30px;
    font-size: 16px;
    min-width: 100px;
    width: 80%;
    transition-duration: 0.1s;
    //box-shadow: 2px 2px 5px 0px #858585;
    background-color: rgba(79, 94, 120, 0.1);
    display: flex;
    align-items: center;
    
}

.topic-list > li:hover {
    background-color: lightgrey;
    color: white;
    font-weight: 700;
}

////////////

img {
    border-radius: 25%;
    margin-right: 5px;
}
.main-right {
    margin-left: 30px;
    //border: 1px solid lightgrey;
    border-radius: 4px;
}