button {
    outline: none;
}

a, i {
    cursor: pointer;
}

.profile-page{
    width: 100%;
    display: flex;
    // background: #EEE2DF;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.profile-top {
    margin-top: 20px;
    margin-left: 8%;
    height: 50%;

    // background: #C89F9C;
    display: flex;
}


.profile-answer-btn {
    margin-left: 20%;
    padding: 1%;
    border-radius: 100%;
}

.profile-top > * {
    padding: 10px;
}
#profile-name{
    // border: 2px green solid;
    padding-top: 30px;
    font-size: 25px;
    // font-weight: bold;
    color: white;
    font-family: 'Lora', serif;
}



.profile-description {
    margin: 20px;
}

.profile-list {
    display: flex;
    // padding: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    // border: 1px lightgray solid;
    // margin-left: 150px;
    // background: #EEE2DF;
    // border-top: 1px solid grey;
    // border-bottom: 1px solid grey;
    color: white;
}

.profile-list > a {
    margin: 10px;
}

//.profile-bottom > li {
.profile-answer-btn{
    background: #713E5A;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
    padding: 15px;
}

.image-upload > input {
  display: none;
}

.image-upload {
    padding: none;
}

#profile-img {
    font-size: 100px;
}

#profile-photo {
    object-fit: cover;
    width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}