button {
    outline: none;
}

a, i {
    cursor: pointer;
}

// i {
//     cursor: pointer;
// }

.profile-page{
    margin-top: 20px;
    width: 70%;
    display: flex;
    background: #EEE2DF;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.profile-top {
    background: #C89F9C;
    display: flex;
}

.profile-answer-btn {
    margin-left: 20%;
    padding: 1%;
    border-radius: 100%;
}

.profile-top > * {
    padding: 10px;
}
#profile-name{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.profile-description {
    margin: 20px;
}

.profile-list {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background: #EEE2DF;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.profile-list > li {
    margin: 10px;
}

//.profile-bottom > li {
.profile-answer-btn{
    background: #713E5A;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
    padding: 15px;
}