// Place all the styles related to the api/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-modal {
    width: 500px;
    height: 350px;
    background: #E5F6E3;
    border-radius: 4px;
    border: lightgrey solid 0.5px;
    margin: 20px;
}

.q-modal-msg {
    display: block;
    background: lightsteelblue;
    margin-bottom: 20px;
    border: none;
    padding: 20px;
    color: grey;
    
}

.question-reminder  {
    display: block;
    background: lightpink;
    color: grey;
    margin: 10px 10px 30px 10px;
    padding: 20px;
    border-radius: 4px;
}

.main-question-modal-trigger {
    width: 93%;
    background-color: #F5FFFA;
    display: box;
    border-radius: 4px;
    margin: 90px 5px 10px 5px;
    border: 0.5px solid  darkgrey;
    padding: 16px 16px 6px 16px;
}

.main-question-modal-trigger > div {
    padding-bottom: 10px;
    color: grey;
    font-size: 16px;
    font-weight: bold;
}

#main-asking-user {
    font-size: 13px;
}

.modal-q-form {
    display: box;
    background-color: lightsalmon;
    margin: 0 10px 0 10px;
    border-radius: 4px;
    padding: 10px;
}

.modal-q-form > input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 0.7px solid lightgray;
    width: 80%;
}

.q-form-header {
    display: box;
    color: gray;
    margin-bottom: 10px;
}

.q-form-btn {
    margin-top: 50px;
    float: right;
}

.q-form-btn > * {
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-left: 10px;
    background: lightsteelblue;
    color: white;
}

#main-asking-user-input > input[type=text] {
    width: 90%;
}

.question-index-item {
    width: 93%;
    margin: 15px 5px 10px 5px;
    border-radius: 4px;
    background: #F5FFFA;
    border: 0.5px solid lightgrey;
    padding: 16px;
}

.question-top {
    display: flex;
    background: #F8F4E3;
    border: solid lightgrey 1px;
    padding: 10px 0 10px 0;
}

.question-top > .left {
    justify-content: flex-end;
    border: 1px solid lightgray;
}