.q-show-header {
    padding-top: 100px;
    //border: 0.8px lightgrey solid;
    width: 60%;
    margin: 0 0 20px 20%;
    padding-bottom: 10px;
    border-bottom: 1px red solid;
    font-size: 12px;
}

.q-show-header > h1 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;   
}

.q-answer-box {
    display: flex;
    flex-direction: column;;
    border-top: 2px solid #5748c5;
    border-bottom: 2px solid #5748c5;
    padding: 20px 0 10px 0;
    margin: 0 0 20px 20%;
    width: 60%;
    text-align: center; 
    justify-content: center; 
}

.q-answer-box > button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 30%;
    border: none;
    color: white;
    background: #5748c5;
    margin-left: 35%; 
}


