// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-header {
    width: 75%;
    margin: 150px auto 10px auto;
    height: 100px;
    border-radius: 8px;
    background: rgba(79, 94, 120, 0.24);
    border: 0.5px solid lightgrey;
    padding: 16px;
    //box-shadow: 2px 2px 5px 0px #858585;
    display: flex;
}
.topic-header > p {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
}

.topic-header > i {
    // border: 1px solid black;
    font-size: 90px;
}


.link-icons {
    display: flex;
    margin: 25px;
}

.link-icons > a {
    margin-right: 10px;
}