// Place all the styles related to the api/topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.topic-header {
    width: 93%;
    margin: 15px 5px 10px 5px;
    border-radius: 4px;
    background: #F5FFFA;
    border: 0.5px solid lightgrey;
    padding: 16px;
    box-shadow: 2px 2px 5px 0px #858585;
}