#entry-page {
    background: image_url("Quora_2000.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#main-logo {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #AA2200;
    font-family: Bookman;
}

#statement {
    text-align: center;
    position: center;
    font-size: 13px;
    color: grey;
    padding-bottom: 20px;
}

#forms {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 30px 0 30px 0;
    background-color: #F8F8F8;
}

.login-form {
    border: 1px solid red;
    width: 150px;
    height: 150px;   
}
//////////////////
.signup-form {
    display: none;
    border: 1px solid black;
    font-size: 8px;
    color: grey;
    width: 150px;
}
////////////////////

#login-email {
    padding-bottom: 15px;
}

#login-pw {
    padding-bottom: 5px;
}

.login-msg {
    color: black;
    font-size: 10px;
    padding-bottom: 5px;
}

.submit-button *{
    margin: 3px 0 0 5px;
    float: right;
    background-color: #3b5998;
    color: white;
    width: 38px;
    height: 20px;
    font-size: 10px;
    font-weight: 100;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.link-btn {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
}

.link-btn * { 
    height: 25px;
    color: white;
    padding: 10px;
    font-size: 9px;
    border-radius: 8px;
    border: none;
    text-align: center;
    border-radius: 3px;
}

#google-btn {
    background: #DB4437;
}

#fb-btn {
    background: #4267B2;
}

#queria-btn {
    background: green;;
}


.center-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #F8F8F8;
    width: 450px;
    height: 380px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;      
    //place it on the center
    transform: translate(-50%, -50%);
}
#login-email, #login-pw {
    width: 150px;
    float: right;  
} 

#login-email *, #login-pw * {
    background: #E8E8E8;
    border-radius: 3px;
    border: 1px solid lightgrey;
}
#input-bar {
    padding: 3px;   
}
.vertical { 
    border-left: 1px solid lightgrey; 
    height: 150px; 
    position:absolute; 
    left: 50%; 
} 