body, html {
    height: 100%;
}
body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#answerBox {
    padding: 10px;
    border: 0.2px lightgrey solid;
}

#root {
    height: 100%;
    background-color: #23252C;
}

// #body {
//     background-color: #23252C;
// }
.app-page {
    // height: 100%;
    background-color: #23252C;
}

.main-page {
    display: flex;
    // background-image: linear-gradient( #E0F7F6, #00BFB2);
    height: 100%;
    // background-color: white;
    background-color: #23252C;;
    // position: relative;
}

.main-center {
    width: 100%;
    // background-color: white;
    margin-bottom: 5%;
}

.main-left {
    position: relative;
    display: flex;
    overflow: auto;
    padding-top: 10%;
    padding-right: 25px;
    padding-left: 25px;
    width: 25%;
    // min-height: 100%;  


    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
 
}

