body {
    background: #FDF9ED;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#answerBox {
    padding: 10px;
    border: 0.2px lightgrey solid;
}
.main-page {
    display: flex;
    background-image: linear-gradient( #E0F7F6, #00BFB2);
    min-height: 100%;
    // position: relative;
}

.main-center {
    width: 50%;
}

.main-left {
    width: 25%;
}

.main-right {
    margin-top: 90px;
    width: 25%;
}
