body {
    background: #F0F0F0;
}

.main-page {
    display: flex;

}

.main-left {
    background: powderblue;
    width: 30%;
    height: 100%;
}

.main-right {
    background: lightsteelblue;
    width: 30%;
    height: 100%;
}
