.nav-bar {
    background: #F5FFFA;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0 20px;
    border-bottom: 0.2px solid lightgrey;
    position: fixed;
    height: 50px;
    box-sizing: border-box;
    z-index: 800;
    font-size: 23px; 
    list-style-type: none; 
    //color: #AA2200;  
    color: #713E5A;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
  }
  
  .left{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100%;
    text-align: center;
    
}

.left > li {
  border: black solid 1px;
  padding-top: 10px;
}

#logo {
    //color: #AA2200;
    color: #713E5A;
  
}


.search-bar {
  height: 50;
  width: 200px;
}

.search > input[type=text] {
  padding: 8px;
  font-size: 14px;
  width: 300px;
  border: solid 0.5px lightgrey;
  border-radius: 4px;
}

a:visited {
  //color: #AA2200;
  color: #713E5A;
}

.search {
  width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  height: 12px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
  font-size: x-small
}
.plain{
    text-decoration: none;
}


.round-btn > button {
  //background-color: #AA2200;
  background-color: #713E5A;
  font-size: 16px;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px 4px 10px;
  cursor: pointer;
  border-radius: 500px;
  //background-color: #0F4C81;
}

.dropdown-profile {
  font-size: 28px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: white;
  border: 0.5px solid gray;
  border-radius: 2px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: lightgray;
}

.dropdown-profile:hover .dropdown-content {
  display: block;
}