.nav-bar {
    background: #F5FFFA;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    border-bottom: 0.2px solid lightgrey;
    position: fixed;
    height: 50px;
    box-sizing: border-box;
    z-index: 800;
    font-size: 23px; 
    list-style-type: none; 
    //color: #AA2200;  
    //color: #713E5A; color: #84C0C6;
    //color: #003B5C;
    //color: #84C0C6;
}

.nav-bar > .right{
    display: flex;
    width: 50%;
  }
  .left {
    margin-left: 6%;
  }
  .nav-bar > .left{
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
}

.left > li {
  padding: 10px 10px 0 10px;
}

.left > li:hover {
  background-color: lightgrey;
}


#logo {
    color: #519E8A;
}


.search-bar {
  height: 50;
  width: 200px;
}

.search > input[type=text] {
  padding: 8px;
  font-size: 14px;
  width: 300px;
  border: solid 0.5px lightgrey;
  border-radius: 4px;
}

a:visited, #answers {
  color: #84C0C6;
}

.search {
  width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  height: 12px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
  font-size: x-small
}
.plain{
    text-decoration: none;
}

.round-btn {
  //border: 1px red solid;
  margin-right: 20px;
}
.round-btn > button {
  //background-color: #AA2200;
  //background-color: #713E5A; 
  background-color: #519E8A;
  //background-color: #84C0C6;
  font-size: 16px;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px 4px 5px;
  cursor: pointer;
  border-radius: 500px;
  //background-color: #0F4C81;
}

.dropdown-profile {
  //border: red 1px solid;
  padding: 5px;
  font-size: 28px;
  color: #519E8A;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 3px;
}

.dropdown-content li {
  padding: 5px 8px;
}


.dropdown-content a {
  color: #519E8A;
  font-size: 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content li:hover {
  background: #A1CBBF;
  color: white;
  cursor: pointer;
}

.dropdown-profile:hover .dropdown-content {
  display: block;
}