.search-bar {
  height: 50;
}

#ueria {
  font-family: 'Lora', serif;
  font-size: 17px;
}

.search > input[type=text] {
  padding: 8px;
  font-size: 14px;
  width: 200px;
  border: solid 0.5px lightgrey;
  border-radius: 5px;
}

.home a, .answers a{
  color: #FAC0B3;
  margin-top: 10px;
  display: block;
}

.search {
  // width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  // width: 100%;
  border: 1px solid lightgrey;
  border-right: none;
  padding: 5px;
  height: 12px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
  font-size: x-small
}
.plain{
    text-decoration: none;
}

.round-btn {
  margin-right: 20px;
}
.round-btn > button {
 
  background-color: #FAC0B3;
  font-size: 16px;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px 4px 5px;
  cursor: pointer;
  border-radius: 500px;

}

.dropdown-profile {
  padding: 5px;
  font-size: 28px;
  color: #FAC0B3;
}

.dropdown-profile > i:hover {
  color: salmon;
}
.left > li {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: white;
  border: 0.5px solid lightgray;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 3px;
  z-index: 1;
}

.dropdown-content li {
  padding: 5px 8px;
}


.dropdown-content a {
  color: #FAC0B3;
  font-size: 16px;
  //display: block;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color: white;
}
.dropdown-content li:hover {
  background: #FAC0B3;
  color: white;
  cursor: pointer;
  
}

.dropdown-profile:hover .dropdown-content {
  display: block;
}

.nav-bar, .left, .right {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  border-bottom: 0.5px solid lightgrey;
  position: fixed;
  z-index: 8;
  width: 100%;
  background-color: #FEF9F0;
  box-shadow:0px 1px 1px lightgray;

}

li > .fa {
  padding-right: 5px;
  padding-left: 2px;
  size: 16px;
}
.left {
  margin-top: 10px;
}

#logo, #logo i {
  font-size: 35px;
  color: salmon;
}

#home, #answers {
  font-size: 20px;
  padding-top: 10px;
}

.left div {
  margin-left: 20px;
}

.left a:hover {
  color: salmon;
}

.round-btn button:hover {
  background: salmon;
}

.right {
  align-items: center;
}