.signup-form {
    background: white;
    border: 1px solid white;
    font-size: 8px;
    color: grey;
    width: 300px;
    height: 400px;
}

#signup-msg {
    font-size: 15px;
    color: pink;
    padding-bottom: 10px;
}

.signup-btn * {
    margin: 5px 0 0 5px;
    float: right;
    background-color: #3b5998;
    color: white;
    width: 60px;
    height: 20px;
    font-size: 10px;
    font-weight: 100;
    border: none;
    text-align: center;
    border-radius: 3px;
    

}